
body {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard', sans-serif!important;
}

header {
    background: linear-gradient(to bottom, #000000ff, #00000000);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-inner {
    width: 100%;
    max-width: 1280px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-inner .header-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .header-inner .header-links a button {
    width: 120px;
    height: 36px;
    border-radius: 999px;
    background: linear-gradient(180deg, #FDD75E 0%, #F78638 100%);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
}

.container {
    max-width: 2560px;
    min-width: 1280px;
    width: 100%;
    height: 1000px;

    background-image: url('https://cdn.kkutu.io/img/front/event/2025_0330_v4/ContainerBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 2560px;
    min-width: 1280px;
    width: 100%;
    height: 1440px;

    background-image: url('https://cdn.kkutu.io/img/front/event/2025_0330_v4/Content_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.disclaimer {
    max-width: 2560px;
    min-width: 1280px;
    width: 100%;
    height: 1600px;

    background-image: url('https://cdn.kkutu.io/img/front/event/2025_0330_v4/Roadmap_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.decoration {
    display: flex;
    justify-content: center;
    align-items: end;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(0.8);
        opacity: 1;
    }
}

@keyframes upLeft {
    0% {
        transform: translateX(50px) translateY(-10px);
    }
    100% {
        transform: translateX(30px) translateY(-10px);
    }
}

@keyframes upRight {
    0% {
        transform: translateX(-50px) translateY(-10px);
    }
    100% {
        transform: translateX(-30px) translateY(-10px);
    }
}

@keyframes marginLeft {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(-5px);
    }
}

@keyframes marginRight {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(5px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes marginDown {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(30px);
    }
}

@keyframes marginUp {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(-30px);
    }
}

.logo-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: zoomIn 1s ease-out forwards;
}

.upper {
    animation: wipe 2s ease-out forwards;
}

.logo-sparkle-l {
    animation: marginDown 2s ease-out forwards;
}

.logo-sparkle-r {
    animation: marginUp 2s ease-out forwards;
}

.logo-v4 {
    animation: marginLeft 2s ease-out forwards;
    transform: translateX(50px);
}

.logo-update {
    animation: marginRight 2s ease-out forwards;
    transform: translateX(-50px);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.text .description {
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

.text .share {
    width: 300px;
    height: 72px;
    background-image: url('https://cdn.kkutu.io/img/front/event/2025_0330_v4/ContainerShare.png');
    margin-top: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

.text .share img {
    width: 54px;
    height: 54px;
    cursor: pointer;
}

.content a {
    margin-top: 1193px;
    width: 255px;
}

.back-decoration {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.back-decoration .left-decoration {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeSlideRight 2s ease-out forwards;
    position: absolute;
}

.back-decoration .right-decoration {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeSlideLeft 2s ease-out forwards;
    position: absolute;
}

@keyframes fadeSlideRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideLeft {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}